name: 'Terraform'

permissions:
  contents: read
  id-token: write

on:
  push:
    branches: [main]

jobs:
  plan:
    name: 'Terraform Plan'
    runs-on: ubuntu-latest
    environment: production-plan

    defaults:
      run:
        shell: bash
        working-directory: ./infra

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init -backend-config="bucket=${{ secrets.STATE_BUCKET_NAME }}"

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -input=false -out=tfplan

      - name: Upload Plan
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: infra/tfplan

  apply:
    name: 'Terraform Apply'
    needs: plan
    runs-on: ubuntu-latest
    environment: production

    defaults:
      run:
        working-directory: ./infra
    steps:
      - name: Download Plan
        uses: actions/download-artifact@v4
        with:
          name: tfplan
          path: ./infra

      - run: terraform init -backend-config="bucket=${{ secrets.STATE_BUCKET_NAME }}"
      - run: terraform apply -auto-approve tfplan
